body {
  font: 14px "Work Sans", Helvetica, Arial, sans-serif;
  background: #fff;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

header {
  height: 250px;
  background: linear-gradient(180deg, #CBC9C9 0%, #CBC9C9 70%, #A5A5A5 95%);
  border-bottom: 5px solid #F89809;
  display: flex;
  padding-left: 50px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  font-size: 48px;
  color: #fff;
  display: flex;
  align-items: center;
  align-content: center;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

article {
  padding: 20px 50px;
}

label {
  font-size: 16px;
  margin-right: 20px;
}

select {
  padding: 10px;
  font-size: 14px;
}

input {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 12px 10px;
  background: linear-gradient(180deg, #fd0909 0%, #c70000 50%);
  border-radius: 4px;
  border: none;
  color: #fff;
  font: 700 14px "Work Sans", Helvetica, Arial, sans-serif;
}

canvas {
  margin-top: 20px;
  
}
.loading {
  background: #fff;
  width: 100%;
  display: block;
  position: absolute;
  top: 255px;
  bottom: 0;
  opacity: 95%;
}

.loader {
  border: 8px solid #fff;
  border-top: 8px solid #F89809;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -30px;
  margin-right: -30px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

footer {
  height: 50px;
  margin-top: 20px;
  background-color: #F89809;
}

footer p {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding-top: 10px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.85);

}